.userDetails{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    box-shadow: 7px -1px 30px 0px rgba(117,117,117,0.46);
    -webkit-box-shadow: 7px -1px 30px 0px rgba(117,117,117,0.46);
    -moz-box-shadow: 7px -1px 30px 0px rgba(117,117,117,0.46);
    
}


.userDetails .desc{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.userDetails .desc img{
    width: 50px;
    height: 50px; 
    object-fit: cover;
    border-radius:50%;

}
.userDetails .desc .info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}



.IconTitle{
    display: flex;
    color: #555;
    align-items: center;
    margin: 30px 0;
}

.IconTitle span{
margin-left: 10px;
}
