.lgWidgetContainer{
    flex:4;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}


.lgWidgetContainer .title{
    display: inline-block;
    margin: 10px;
} 

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
   
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item.flex{
      display: flex ;
      flex-direction: row;
  }