.userCreate{
    flex: 4;
    margin-left: 10px;
    padding:10px;
    box-shadow: 7px -1px 30px 0px rgba(117,117,117,0.46);
-webkit-box-shadow: 7px -1px 30px 0px rgba(117,117,117,0.46);
-moz-box-shadow: 7px -1px 30px 0px rgba(117,117,117,0.46);
}